<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
  </head>
  <body>
    <div class="container" id="container">
      <div class="loader desactivate" id="loader">
        <span class="loader"></span>
      </div>
      <div class="content" id="content">
        <h1>Uploaded File</h1>   

        <form action="/select" onsubmit="event.preventDefault()">
          <input type="file" id="song-input" name="song" accept=".mp3, .flac">
          <button type="submit" id="btn-submit">Enviar</button>
        </form>
      </div>
    </div>
    <script src="/js/home.js"></script>
  </body>
</html>