<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="lyrics">
        <div id="hms"></div>
        <div class="boton start"></div>        
        <div class="boton stop"></div>
        <div class="boton reiniciar"></div>
        <h1>Lyrics</h1>
        <p style="white-space: pre-line" id="lyrics"></p>
        <div class="controllers" style="display: flex;">
            <button type="button" id="previous" style="display:none">previous</button>
            <button type="button" id="next" style="display:none">Next</button>
            <button type="button" id="stop" style="display:none">stop</button>
            <button type="button" id="start">start</button>
        </div>
    </div>
    <audio controls style="display:none">
        <source src="/api/play" type="audio/flac">
    </audio>

    <script src="/js/start.js"></script>
</body>
</html>