* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    color: rgb(255, 255, 255);
    min-height: calc(100vh - 60px);
    width: 100%;
}

html, body {
    min-height: 100vh !important;
    min-width: 320px !important;
    background: linear-gradient(-20deg, #ff1e00fb, #bd1717bb, #214fcf, #4500b3bb);
    background-size: 400% 400%;
    animation: background-gradient 15s ease infinite;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: black;
    filter: brightness(0.5) blur(10px);
}

.form-label, .form-control {
    color: white !important;
}

/* ================= ANIMATIONS ================= */

@keyframes background-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
