.lyrics{
    text-align: center;
}
#previous-lyric {
    opacity: 30%;
}
#next-lyric {
    opacity:60%;
}
.controllers{
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin:2% 42%;
}