.delayConfig option {
    background-color: rgba(0, 0, 0, 0.452);
}

.delayConfig {
    color: white;
    background: transparent;
    font-size: 1.5rem;
    border-radius: 5px;
    border-color: black;
    margin-top: 1rem;
}